 body {
    background-color: #333;
    color: #fff;
}

h1 {
    color: #fff;
    animation: fadeIn 0.5s ease-in-out;
}

form {
    background-color: #555;
    padding: 20px;
    animation: slideIn 0.5s ease-in-out;
}

/* input[type="checkbox"] {
    background-color: #777;
    animation: pulse 0.5s ease-in-out infinite;
} */

.task{
    float:left;
    flex-wrap: wrap;
    padding-right: 15px;
} 

/* ラベル全体にクリックイベントを追加 */
label {
    cursor: pointer; /* カーソルを手形に */
}
/* ラベル内のテキストにもクリックイベントを追加 */
label::before {
    cursor: pointer; /* カーソルを手形に */
}
/* チェックボックスを隠し、ラベルにマウスオーバー時のスタイルを追加 */
label:hover::before {
    background-color: #ccc; /* 背景色 */
    border-color: #ccc; /* 枠線色 */
}


  