body>table>tbody>tr>td>img {
    width: 64px;
    height: 64px;
}

body {
    background-color: #333;
    /* color: #fff; */
}

@media screen and (max-width: 480px) {
    .m_none {
        display: none;
    }
}

#ammoTable .tablesorter-header {
    cursor: pointer;
    outline: none;
}

#ammoTable .tablesorter-header-inner::after {
    content: '▼';
    font-size: 12px;
    margin-left: 5px;
}