 body {
    background-color: #333;
    color: #fff;
}

h1 {
    color: #fff;
    animation: fadeIn 0.5s ease-in-out;
}

form {
    padding: 20px;
    animation: slideIn 0.5s ease-in-out;
}

/* input[type="checkbox"] {
    background-color: #777;
    animation: pulse 0.5s ease-in-out infinite;
} */

.task{
    float:left;
    flex-wrap: wrap;
    padding-right: 15px;
    width: 400px;
    height: 180px;
} 

/* ラベル全体にクリックイベントを追加 */
label {
    cursor: pointer; /* カーソルを手形に */
}
/* ラベル内のテキストにもクリックイベントを追加 */
label::before {
    cursor: pointer; /* カーソルを手形に */
}
/* チェックボックスを隠し、ラベルにマウスオーバー時のスタイルを追加 */
label:hover::before {
    background-color: #ccc; /* 背景色 */
    border-color: #ccc; /* 枠線色 */
}
button {
    border-radius: 50%;
    color: white;
    background-color: #555;
    width: 30px;
    height: 30px;
  }
button:hover {
    background-color: #ddd;
    color: black;
    border:1px solid black;
}
#submit{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
}
.dealer{
    position: static;
    top: 20px;
}
footer {
	clear: both;
	text-align: center;
	background: #000;	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 85%;		/*文字サイズ*/
}
footer a {
	color: #fff;	/*リンクテキストの文字色*/
	text-decoration: none;
}
footer a:hover {
	color: #fff;	/*マウスオン時の文字色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}
#setting{
    position: fixed;
    width: auto;
    height: auto;
    top: 10px;
    right: 80px;
    background-color: #333;
}
.modal-body{
    background-color: #212020;
}
.modal-footer{
    background-color: #212020;
}
.modal-content{
    background-color: #212020;
}
button.btn.btn-default{
    width: auto;
    height: auto;
    background-color: white;
  }
.success-msg {
    display: none;
    position: fixed;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #29aba4;
    color: #fff;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}