<!DOCTYPE html>
<html lang="ja">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1577082847733195"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJKS21QN2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZGJKS21QN2');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EFT Item Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EscapeFromTarkovのタスク・ハイドアウトで使用するアイテムを表示するアプリです">
    <meta name="keywords" content="eft,EscapeFromTarkov">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy.css') }}">
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand h-50"><img src="../../static/img/logo.png" width="50px">EFT Item Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar4">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/task/">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hideout/">Hideout</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <h1>お問い合わせ</h1>
    <p>情報が間違っている、改善してほしいところなどがありましたら下記フォームにご記入ください。</p>
    <p>返信が必要な場合のみ返信いたします。</p>
    <p>お急ぎの場合や、画像を添付したい場合はTwitterのDM <a href="https://twitter.com/SYTd_pukusyou" id="twitter"><img
                src="../static/img/twitter.svg" width="32" height="32">@SYTd_pukusyou</a>にご連絡ください。</p>
    <form action="/contact/" method="post" , enctype="multipart/form-data" onsubmit="return check()">
        <select class="form-select" aria-label="Default select example" name="contact">
            <option value="1">情報の誤り</option>
            <option value="2">バグ・エラー</option>
            <option value="3">改善案</option>
            <option value="4">感想</option>
            <option value="5">その他</option>
        </select>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
            <input type="email" class="form-control" id="mail" placeholder="name@example.com" name="contact">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">件名</label>
            <input type="content" class="form-control" id="subject" placeholder="◯◯◯について" name="contact">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">本文</label>
            <textarea class="form-control" id="body" rows="3" name="contact"></textarea>
        </div>
        <input name="contact" type="text" value={{key}} readonly="readonly" hidden />
        <input type="submit" class="btn btn-primary mb-12" value="送信" id="submit">
    </form>
    <footer>
        <font size="3">
            <p id="privacy"><a href="/privacy/">プライバシーポリシー</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
                    href="/contact/">お問い合わせ</a>
            </p>
        </font>
        <small>Game content and materials are trademarks and copyrights of Battlestate Games and its
            licensors. All rights
            reserved.</small>
        <p class="float-start"><a href="/">EFT Item Hub</a></p>
        <p class="float-end">&copy; 2023 EFT Item Hub</p>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-3.6.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/contact.js') }}"></script>
</body>