{% extends "base.html" %}
{% block title %}
{{ super() }} - Hideout Items
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hideout_item.css') }}">
{% endblock %}
{% block contents %}
<h1>ハイドアウトで使用するアイテム</h1>
<div class="container">
    <div class="row mb-5">
        <div class="col-2">
            <button type="button" class="btn btn-primary mb-12" id="select">選択</button>
        </div>
    </div>
</div>

<!-- ボタン・リンククリック後に表示される画面の内容 -->
<div id="only_img_area"></div>
{% for item in tasks_item %}
<div class="bigBox">
    <div class="box1">
        <p id="fullname">{{item[1]}}</p>
    </div>
    <div class="box2">
        {% if item[2] > 0 %}
        <p class="num">x{{item[2]}}</p>
        {% else %}
        <p class="num">タスクで使用</p>
        {% endif %}
    </div>
    <div class="box3">
        <img src="{{item[3]}}" class="item_img" loading="lazy">
    </div>
</div>
{% endfor %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1577082847733195"
    crossorigin="anonymous"></script>
<!-- eft_test -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1577082847733195" data-ad-slot="5022456881"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
    // (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div id="back_zone">
    <button type="button" onclick="location.href='/hideout/'" class="btn btn-primary mb-12" id="back">戻る</button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-3.6.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/hideout_item.js') }}"></script>
{% endblock %}
{% block ad %}
<script src="https://adm.shinobi.jp/s/36715a8a1e9e411ab66ba042909ef0df"></script>
{% endblock %}
{% block footer %}
<p><small>このWebアプリは、<a href="https://wikiwiki.jp/eft/">Escape From Tarkov JPN Wiki</a> の「<a
            href="https://wikiwiki.jp/eft/%E9%9A%A0%E3%82%8C%E5%AE%B6">隠れ家</a>」記事の素材を使用しており、Creative Commons
        Attribution-NonCommercial-ShareAlike の下でライセンスされています。</small></p>
{% endblock %}