<!DOCTYPE html>
<html lang="ja">
<head>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJKS21QN2"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-ZGJKS21QN2');
     </script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EFT Task Item Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="EscapeFromTarkovのタスクで使用するアイテムを表示するアプリです">
<meta name="keywords" content="eft,EscapeFromTarkov">
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1577082847733195"
     crossorigin="anonymous"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<header>
    <div class="cookie-consent">
      <div class="cookie-text">当サイトでは次回以降の入力負担軽減のために、Cookieを使用します。</div>
      <div class="cookie-agree">OK</div>
    </div>
<h1 id="logo"><img src="static/img/wallpaperflare.com_wallpaper.jpg" alt="logo"></h1>
<nav id="menubar">
<ul>
<li><a href="#new">更新履歴</a></li>
<li><a href="#explanation">サイトの説明</a></li>
<li><a href="#treatment">使い方</a></li>
<li><a href="#contact">作成者</a></li>
</ul>
<ul>
    <li><a href="/task/" id="start">はじめる</a></li>
</ul>
</nav>
</header>

<div id="container">

<div id="contents">

<section id="new">

<h2>更新履歴</h2>
<dl>
<dt>2023/1/29</dt>
<dd>不具合の修正<span class="newicon">NEW</span></dd>
<dt>2023/1/28</dt>
<dd>リリース<span class="newicon">NEW</span></dd>
</dl>

</section>
<!--/#new-->
<section id="explanation">
<h2>サイトの説明</h2>
<p>このサイトは「Escape from Tarkov」のタスクに必要なアイテムを確認するためのものです。</p>
<p>使い方については下記を御覧ください。</p>

</section>


<section id="treatment">

<h2>使い方</h2>

<ol>
    <li>「はじめる」を押すと各ディーラーのタスク一覧が表示されます。</li>
    <li>完了しているタスクを選択し、完了ボタンを押します。</li>
    <li>必要なアイテムが表示されるます。</li>
</ol>
<p class="t">※タスク選択画面では「✓」マークを押すと、該当するディーラーのタスクが全選択されます。</p>
<p class="t">※アイテム一覧画面では「表示設定」ボタンを押すことで表示するアイテムを切り替えることができます。</p>


<!--/#service-->

<section id="contact">

<h2>製作者</h2>
<a href="https://twitter.com/SYTd_pukusyou" id="twitter"><img src="static/img/twitter.svg" width="32" height="32">@SYTd_pukusyou</a>
<p>情報がまちがっているところ、改善してほしいところ、追加してほしい機能等々ありましたら、お気軽にDMしてください。</p>
<p>このサイトは<a href="https://wikiwiki.jp/eft/">"Escape From Tarkov JPN Wiki"</a>様の情報を使用しております。<a href="https://wikiwiki.jp/eft/">Escape From Tarkov JPN Wiki</a>様に感謝申し上げます。</p>


</section>
<!--/#contact-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
  <small>Game content and materials are trademarks and copyrights of Battlestate Games and its licensors. All rights reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--jQueryファイルの読み込み-->
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-3.6.3.min.js') }}"></script>

<!--ページの上部へ戻るボタンとスクリプト-->
<p class="scroll"><a href="#">↑</a></p>
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/index.js') }}"></script>
<!-- admax -->
<script src="https://adm.shinobi.jp/s/21f9a729ee343f1a9065357e9578d164"></script>
<!-- admax -->
<!-- admax -->
<script src="https://adm.shinobi.jp/s/2286d4d5c7dc87414968e1b3fcaed9bf"></script>
<!-- admax -->
</body>
</html>
