<!DOCTYPE html>
<html lang="ja">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1577082847733195"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJKS21QN2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZGJKS21QN2');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EFT Item Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EscapeFromTarkovのタスク・ハイドアウトで使用するアイテムを表示するアプリです">
    <meta name="keywords" content="eft,EscapeFromTarkov">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy.css') }}">
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand h-50"><img src="../../static/img/logo.png" width="50px">EFT Item Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar4">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/task/">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hideout/">Hideout</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <h1>プライバシーポリシー</h1>

    <h4>個人情報の利用目的</h4>

    <p>
        当サイトでは、お問い合わせの際、メールアドレス等の個人情報を入力いただく場合がございます。
        取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
    </p>

    <h4>広告について</h4>

    <p>
        当サイトでは、第三者配信の広告サービス（忍者AdMax）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。
        クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
        Cookieはブラウザから無効にすることができます。
    </p>
    <h4>アクセス解析ツールについて</h4>

    <p>
        当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス、Googleサーチコンソール」を利用しています。これらはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
    </p>
    <h4>免責事項</h4>
    <p>
        当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
        また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
        当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
    </p>
    <h4>著作権について</h4>
    <p>
        当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。
        当サイトは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。
    </p>
    <h4>リンクについて</h4>
    <p>
        当サイトは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。
        ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。
    </p>
    <h4>プライバシーポリシーの変更について</h4>
    <p>
        当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。
        修正された最新のプライバシーポリシーは常に本ページにて開示されます。
    </p>
    <p>最終更新：2023/02/12</p>

    <footer>
        <font size="3">
            <p id="privacy"><a href="/privacy/">プライバシーポリシー</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
                    href="/contact/">お問い合わせ</a>
            </p>
        </font>
        <small>Game content and materials are trademarks and copyrights of Battlestate Games and its
            licensors. All rights
            reserved.</small>
        <p class="float-start"><a href="/">EFT Item Hub</a></p>
        <p class="float-end">&copy; 2023 EFT Item Hub</p>
    </footer>
</body>