<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1577082847733195"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJKS21QN2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZGJKS21QN2');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EFT Item Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This application displays items used in EscapeFromTarkov's Task and Hideout">
    <meta name="keywords" content="eft,EscapeFromTarkov">
    <link rel="icon" type="image/png" href="../../static/img/logo.webp">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy.css') }}">
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/en/" class="navbar-brand h-50"><img src="../../static/img/logo.webp" width="50px">EFT Item Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar4">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/en/task/">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en/hideout/">Hideout</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <h1>Privacy Policy</h1>

    <h4>Purpose of use of personal information</h4>

    <p>
        When making an inquiry on this site, you may be asked to enter personal information such as your e-mail address.
        The personal information obtained will only be used to respond to your inquiry or to send you necessary
        information by e-mail, and will not be used for any other purpose.
    </p>

    <h4>About Advertisements</h4>

    <p>
        This site uses a third-party advertising service (忍者AdMax) and uses cookies to display advertisements for
        products and services that match the interests of users.
        The use of cookies enables this site to identify your computer, but does not allow us to identify you
        personally.
        Cookies can be disabled from your browser.
    </p>
    <h4>About Access Analysis Tools</h4>

    <p>
        This site uses Google Analytics and Google Search Console, access analysis tools provided by Google. These use
        cookies to collect traffic data. Traffic data is collected anonymously and does not identify any individual.
    </p>
    <h4>Disclaimer</h4>
    <p>
        We are not responsible for any information, services, etc. provided on sites to which you are redirected by
        links, banners, etc. from this site.
        While we strive to provide the most accurate information possible regarding the content and information on this
        blog, we cannot guarantee the accuracy or safety of the information. Information may be out of date.
        Please note that we are not responsible for any damages or other losses caused by the content of this site.
    </p>
    <h4>Copyrights</h4>
    <p>
        Unauthorized reproduction of any text, images, or other materials on this site is prohibited.
        This site is not intended to infringe on copyrights or portrait rights. If you have any problems regarding
        copyrights or portrait rights, please contact us using the Contact Us form. We will respond promptly.
    </p>
    <h4>About Links</h4>
    <p>
        This site is basically link-free. No permission or contact is required to link to this site.
        However, please refrain from using inline frames and direct links to images.
    </p>
    <h4>Changes to our Privacy Policy</h4>
    <p>
        This site will comply with Japanese laws and regulations applicable to personal information, and will review and
        improve this policy from time to time.
        The revised and updated Privacy Policy will always be available on this page.
    </p>
    <p>Last-update：2023/02/12</p>

    <footer>
        <font size="3">
            <p id="privacy"><a href="/en/privacy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
                    href="/en/contact/">Contact</a>
            </p>
        </font>
        <small>Game content and materials are trademarks and copyrights of Battlestate Games and its
            licensors. All rights
            reserved.</small>
        <p class="float-start"><a href="/en">EFT Item Hub</a></p>
        <p class="float-end">&copy; 2023 EFT Item Hub</p>
    </footer>
</body>